add-meta-charset: yes
tidy-mark: no
break-before-br: yes
char-encoding: utf8
drop-empty-elements: no
fix-backslash: yes
fix-style-tags: yes
fix-uri: yes
indent-attributes: no
indent-spaces: 4
indent: yes
markup: yes
output-html: yes
tidy-mark: no
show-errors: 0
show-warnings: no
sort-attributes: alpha
vertical-space: yes
warn-proprietary-attributes: no
wrap-attributes: no
wrap-php: yes
wrap-script-literals: yes
wrap: 100
new-blocklevel-tags: label
