add-meta-charset: yes
break-before-br: yes
char-encoding: utf8
drop-empty-elements: no
fix-backslash: yes
fix-style-tags: yes
fix-uri: yes
indent: yes
indent-spaces: 2
show-errors: 0
show-warnings: no
sort-attributes: alpha
warn-proprietary-attributes: no
wrap: 100
indent-attributes: no
wrap-attributes: no
wrap-script-literals: yes
wrap-php: yes
output-html: yes
vertical-space: yes
